.selection-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    height: 12.5rem;
}

.destination-container {
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    margin: 0.4rem 0.4rem 0.4rem 0;
}
