.heading {
    color: #AC3B61;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.subheading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 90%;
}

.sub-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 2rem;
}

.time-taken {
    margin: 0 auto;
}

.button-box {
    margin-top: 1.4rem;
    text-align: center;
}

@media (max-width: 1142px) { 
    .container{ 
        flex-direction: column; 
    }  
} 
  
@media (max-width: 895px) {   
    .container{ 
        flex-direction: column; 
    } 
    .sub-container{ 
        flex-direction: column; 
    } 
}