.heading {
    color:blueviolet;
    display: "flex";
    text-align: center;
    font-size: 3rem;
}
.subheading {
    display: "flex";
    text-align: center;
    font-size: 2rem;
}

.destination-container {
    width: rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    display: flex;
    margin: 0 auto;
}